/* 
    Created on : 13.5.2020, 17:23:13
    Author     : Petr Bednář <https://www.facebook.com/petrexis> 
*/

.hover-effect-05:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-cursor: hand;
}

.hover-effect-10:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor: hand;
}

.hover-effect-15:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-cursor: hand;
}

.btn-register {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
}

.btn-register:hover  {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.btn-login {
    -fx-background-color: rgba(0, 255, 0, 0.7);
    -fx-cursor: hand;
}

.btn-login:hover  {
    -fx-background-color: rgba(0, 255, 0, 0.9);
}

.brn-exit {
    -fx-background-color: rgba(255, 0, 0, 0.7);
    -fx-cursor: hand;
}

.brn-exit:hover  {
    -fx-background-color: rgba(255, 0, 0, 0.9);
}

.box {
    -fx-background-color: rgba(27,38,52, 1);
}

.text-field {
    -fx-text-inner-color:  rgba(255, 255, 255, 0.9);
}

.text-area {
    -fx-text-inner-color:  rgba(255, 255, 255, 0.9);
    -fx-background-color: rgba(255, 255, 255, 0.03);
}

.btn-select-file {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor: hand;
}

.btn-select-file:hover  {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.c-box {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-font-weight: bold;
}
