/* 
    Created on : 14.5.2020, 20:58:47
    Author     : Petr Bednář <https://www.facebook.com/petrexis> 
*/

.hover-effect-05:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-cursor: hand;
}

.hover-effect-10:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor: hand;
}

.hover-effect-15:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-cursor: hand;
}

.box {
    -fx-background-color: rgba(27,38,52, 1);
}

.location-label {
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 0px 0px;
    -fx-cursor: hand;
}

.location-label:hover {
    -fx-text-fill:   rgb(185, 210, 250);
}

.location-arrow {
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 0px 0px;
}

.location-box {
   /* -fx-background-color: rgba(0, 0, 0, 0.1);*/
}