/* 
    Created on : 14.5.2020, 21:26:39
    Author     : Petr Bednář <https://www.facebook.com/petrexis> 
*/

/*

SCROLL BAR

*/

.scroll-bar{
    -fx-background-color: #18202c;
    /*-fx-background-radius: 0em; */
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    /*-fx-background-radius: 0em; */
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    /*-fx-background-radius: 0em; */
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    /*-fx-background-radius: 0em; */
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    /*-fx-background-radius: 0em; */
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211,211,211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
    -fx-effect: none;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
    -fx-effect: none;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
    -fx-effect: none;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
    /*-fx-rotate: -180; didn't work, may cause problems in future*/
    -fx-effect: none;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,#18202c,#18202c;
}

/*

/SCROLL BAR

*/

/*

SCROLL PANE

*/

.scroll-pane {
  -fx-background:  rgb(185, 210, 250);
}

/*

/SCROLL PANE

*/

.hover-effect-05:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-cursor: hand;
}

.hover-effect-10:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-cursor: hand;
}

.hover-effect-15:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-cursor: hand;
}

.btn-open {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-cursor: hand;
}

.btn-open:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.label {
    -fx-text-fill: black;
}

.btn-add {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}